body{
    position: relative;
    width: 1440px;
    height: 5504px;
    background-color: #fff;
}
/*Navigation bar*/
nav{
    width: 1440px;
    height: 120px;
    margin-left: 0px;
    margin-top: 0px;
    display: flex;
}
h1{
    width: 123px;
    height: 39px;
    margin-left: 120px;
    margin-top: 46px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #192252;
}
#navigation{
    display: flex;
    margin-top: 56px;
    color: #192252;
    position: absolute;
}
p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
#rooms-navigation{
    width: 53px;
    height: 19px;
    margin-left: 586px;
}
#reservation-navigation{
    width: 92px;
    height: 19px;
    margin-left: 32px;
}
#contacs-navigation{
    width: 64px;
    height: 19px;
    margin-left: 32px;
}
button{
    background: #0E1734;
    border-radius: 4px;
}
#get-started-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 16px;
    position: absolute;
    width: 121px;
    height: 47px;
    left: 1199px;
    top: 37px;
}
#get-started-text{
    position: static;
    width: 89px;
    height: 19px;
    left: 16px;
    top: 14px;
    color: #FFFFFF;
    white-space: pre;
}
/*Hero*/
#hero{
    position: absolute;
    width: 1440px;
    height: 845px;
    left: 0px;
    top: 120px;
    background: #FFFFFF;
}
h2{
    position: absolute;
    width: 587px;
    height: 144px;
    margin-left: 121px;
    margin-top: 215px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: -0.01em;
    color: #192252;
}
h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #848FAC;
}
#paragraph-hero{
    position: absolute;
    width: 485px;
    height: 81px;
    margin-left: 121px;
    margin-top: 383px;
}
#reservation-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    position: absolute;
    width: 156px;
    height: 51px;
    margin-left: 121px;
    margin-top: 496px;
}
#reservation-text{
    position: static;
    width: 92px;
    height: 19px;
    color: #FFFFFF;
}
img{
    border-radius: 4px;
}
#first-img{
    position: absolute;
    width: 180px;
    height: 588px;
    margin-left: 732px;
    margin-top: 80px;
}
#second-img{
    position: absolute;
    width: 180px;
    height: 588px;
    margin-left: 936px;
    margin-top: 161px;
}
#third-img{
    position: absolute;
    width: 180px;
    height: 588px;
    margin-left: 1140px;
    margin-top: 80px;
}
/*About us*/
#about-us{
    position: absolute;
    width: 1440px;
    height: 736px;
    left: 0px;
    top: 965px;
    background: #FFFFFF;
}
#tree-hous{
    position: absolute;
    width: 384px;
    height: 576px;
    margin-left: 120px;
    margin-top: 80px;
}
h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: -0.01em;
    color: #192252;
}
#header-about-us{
    position: absolute;
    width: 690px;
    height: 108px;
    left: 630px;
    top: 185px;
}
#p1-paragraph-about-us{
    position: absolute;
    width: 584px;
    height: 81px;
    left: 630px;
    top: 317px;
}
#p2-paragraph-about-us{
    position: absolute;
    width: 584px;
    height: 54px;
    left: 630px;
    top: 414px;
}
#learn-more-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    position: absolute;
    width: 151px;
    height: 51px;
    left: 630px;
    top: 505px;
}
#learn-more-text{
    position: static;
    width: 87px;
    height: 19px;
    left: 32px;
    top: 16px;
    color: #FFFFFF;
    white-space: pre;
}
/*Benefit*/
#benefit{
    position: absolute;
    width: 1440px;
    height: 960px;
    left: 0px;
    top: 1701px;
    background: #FFFFFF;
}
#header-benefit-p1{
    position: absolute;
    width: 302px;
    height: 54px;
    left: 120px;
    top: 193px;
}
#paragraph-benefit-p1{
    position: absolute;
    width: 584px;
    height: 81px;
    left: 120px;
    top: 271px;
}
#drink{
    position: absolute;
    width: 384px;
    height: 384px;
    left: 830px;
    top: 80px;
}
#header-benefit-p2{
    position: absolute;
    width: 384px;
    height: 54px;
    left: 630px;
    top: 609px;
}
#paragraph-benefit-p2{
    position: absolute;
    width: 584px;
    height: 81px;
    left: 630px;
    top: 687px;
}
#food{
    position: absolute;
    width: 384px;
    height: 384px;
    left: 120px;
    top: 496px;
}
/*Reservation*/
#reservation{
    position: absolute;
    width: 1440px;
    height: 1176px;
    left: 0px;
    top: 2661px;
    background: #FFFFFF;
}
#header-reservation{
    position: absolute;
    width: 446px;
    height: 54px;
    margin-left: 497px;
    margin-top: 80px;
    text-align: center;
}
#paragraph-reservation{
    position: absolute;
    width: 588px;
    height: 54px;
    margin-left: 426px;
    margin-top: 158px;
    text-align: center;
}
#explore-more-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    position: absolute;
    width: 165px;
    height: 51px;
    margin-left: 638px;
    margin-top: 244px;
}
#explore-more-text{
    position: static;
    width: 101px;
    height: 19px;
    color: #FFFFFF;
    white-space: pre;
}
